link(rel="stylesheet" href='/bootstrap/dist/css/bootstrap.css')
script(src='/jquery/dist/jquery.js')
script(src='/bootstrap/dist/js/bootstrap.js')
meta(name='viewport',content='initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width,user-scalable=no')
meta(name='keywords',content='电影存货，记录好看的电影')
meta(name='description',content='电影存货，记录好看的电影，微信公众号存放搜过的电影')