script(src='/javascripts/test.js' type='text/javascript')

extends ../layout.jade

block content
    .container
        .row
            form.form-horizontal(method="post",action="/admin/movie/catetory/new")
                input(type='hidden' value=catetory._id name='id')
                .form-group
                    .col-sm-6
                        label.col-sm-3.control-label(for="inputCatetory") 电影分类
                    .col-sm-6
                        input#inputCatetory.form-control(type="text",name='name',value=catetory.name)
                .form-group
                    .col-sm-12
                        button.btn.btn-primary.center-block 提交



