extends ../layout
block content
    .containber
        form(method="post",action="/users/signup")
            .modal-header 注册
            .modal-body
                .form-group
                    label(for="signupName") 用户名
                    input#signupName.form-control(name="name",type='text')
                .form-group
                    label(for="signupPasswd") 密码
                    input#signupPasswd.form-control(name="password",type='password')
            .modal-footer
                button.btn.btn-default(type='button',data-dismiss="modal") 关闭
                button.btn.btn-success(type='submit') 提交
